<div ng-include="global.navUrl"></div>

<div class="container">
	<div id="home">

	<button uib-popover="Add New Food" popover-trigger="'mouseenter'" class="btn btn-primary" id="myBtn" ng-click="showFoodModal()"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;</button>
			<!-- <button class="btn btn-default" id="coba">form update</button> -->

		<div class="modal fade" id="foodModal" role="dialog">
			<div class="modal-dialog">
			    
			      <!-- Modal content-->
			    <div class="modal-content">
			        <div class="modal-header" style="padding:35px 50px; text-align: center;">
			        	<button type="button" class="close" data-dismiss="modal">&times;</button>
			        	<h4>Add New Food</h4>
			        </div>
			       	<div class="modal-body" style="padding:40px 50px;">
			        	<form ng-submit="addFood()">
			            <div class="form-group">
			             	<label for="usrname"><span class="glyphicon glyphicon-user"></span>Food Name</label>
			              	<input type="text" class="form-control" placeholder="Enter food name" ng-model="food.name">
			            </div>
			            <div class="form-group">
			              	<label for="usrname"><span class="glyphicon glyphicon-envelope"></span>Food Price</label>
			              	<input type="number" class="form-control" placeholder="Enter food price" ng-model="food.price">
			            </div>
			            
			              <button class="btn btn-success btn-block"> Add Food</button>
			          </form>
			        </div>

			    </div>
			  
			</div>
		</div>
		
		<br>


			<div class="col-md-3 col-md-offset-9">
				<div class="input-group">
				    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
				    <input type="text" class="form-control" ng-model="hasil" placeholder="Search Food">
				</div>
			</div>
			<br>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in food | filter:hasil | orderBy:'id'">
						<td>{{ row.name }}</td>
						<td>Rp.{{ row.price }}</td>
						<td>
							<button uib-popover="Delete Food" popover-trigger="'mouseenter'" class="btn btn-danger" ng-click="deleteFood(row.id)"><span class="glyphicon glyphicon-trash"></span></button>
							<button uib-popover="Update Food" popover-trigger="'mouseenter'" class="btn btn-success" ng-click="showModal($index)"><span class="glyphicon glyphicon-edit"></span></button>

			<div class="modal fade" id="update-modal" role="dialog">
				<div class="modal-dialog">
				    
				     <!-- Modal content-->
				    <div class="modal-content">

				        <div class="modal-header" style="padding:35px 50px; text-align: center;">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="title">Update Food</h4>
				        </div>
				        <div class="modal-body" style="padding:40px 50px;" id="update-html">
				        <form ng-submit="editData()">
				        	
				            <div class="form-group">
				              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Food name</label>
				              <input type="text" class="form-control uptName" placeholder="Enter Name" ng-model="new.name">
				            </div>
				            <div class="form-group">
				              <label for="usrname"><span class="glyphicon glyphicon-envelope"></span> Food Price</label>
				              <input type="number" class="form-control uptPrice" placeholder="Enter Price" ng-model="new.price">
				            </div>
				    
				            
				              <button type="submit" class="btn btn-success btn-block"> Update</button>
				        </form>
				        </div>
				    </div>
				      
				</div>
		</div>

						</td>
					</tr>
				</tbody>
			</table>

		
		
</div>
</div>