<div ng-include="global.navUrl"></div>

<div class="container">
	
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<div class="input-group">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
					    <input type="text" class="form-control" ng-model="search" placeholder="Search Food">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" id="box-menu" ng-repeat="data in food | filter:search">
					<div class="polaroid" ng-hide>
						<img src="/image/food.jpg" class="food-image" alt="Norway" style="width:100%">
					  	<div class="text-menu">
						    <p class="food-name">{{ data.name }}</p>
						    <p class="food-price"><strong>Rp.{{ data.price }}</strong></p>

						    <button ng-hide="data.name == choosen" class="btn btn-primary btn-block" ng-click="addToList($index)"><span class="glyphicon glyphicon-plus"></span> Add to List</button>
						
						   <button ng-show="data.name == choosen" class="btn btn-danger btn-block">Choosen</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
			<div class="col-md-4">
				<div class="my-order">
					<div class="panel panel-primary">
				      	<div class="panel-heading order-name">Order List</div>
				      	<div class="panel-body">
				      		<div style="text-align: center;" ng-hide="orderNoData">
				      			No Order Data
				      		</div>				
				      		
				      		<div ng-show="orderData">
					      		<table class="table">
									<thead>
										<tr>
											<th>Name</th>
											<th>Price</th>
											<th>Total</th>			
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="order in myOrderList track by $index">
											<td style="width: 120px">{{ order.name }}</td>
											<td><strong>Rp.{{ order.price }}</strong></td>
											<td style="width: 50px">
												<input type="number" class="form-control" ng-change="jmlOrder($index, qty)" ng-model="qty" value="1">
											</td>
											<td><button class="btn btn-danger" ng-click="removeOrder($index)"><span class="glyphicon glyphicon-remove"></span></button></td>
										</tr>
									</tbody>
								</table>
							</div>
				      	</div>
				      	<div class="panel-footer">
				      		<div class="row">
				      			<div class="col-md-8">
				      				Total Price : Rp.{{ total }}
				      			</div>
				      			<div class="col-md-4">
				      				<button class="btn btn-primary btn-block" ng-click="order()">Order</button>
				      			</div>
				      		</div>
				      	</div>
				    </div>
			</div>
			

	</div>
</div>