<div ng-include="'templates/include/menu.html'"></div>

<nav id="sidebar" class="scroll-sidebar">
	<div class="sidebar-header">
		<div>This is header Sidebar</div>
	</div>
	<div class="sidebar-content">
		<ul class="list-unstyled menu-sidebar">
			<li><a href="">Dashboard</a></li>
			<li><a href="">Page 1</a></li>
			<li><a href="">Page 2</a></li>
			<li>
				<a href="" data-toggle="collapse" aria-expanded="false" data-target="#subMenu1">Dropdown 1</a>
				<ul class="collapse list-unstyled" id="subMenu1">
					<li><a href="">page 1</a></li>
					<li><a href="">page 2</a></li>
					<li><a href="">page 3</a></li>
				</ul>
			</li>
			<li>
				<a href="" data-toggle="collapse" aria-expanded="false" data-target="#subMenu2">Dropdown 2</a>
				<ul class="collapse list-unstyled" id="subMenu2">
					<li><a href="">page 1</a></li>
					<li><a href="">page 2</a></li>
					<li><a href="">page 3</a></li>
				</ul>
			</li>
			<li><a href="">Page 3</a></li>
			<li><a href="">Page 4</a></li>
		</ul>
	</div>
</nav>


<div class="col-sm-9 col-sm-offset-3">
	adasdasda
</div>